* {
	margin: 0;
	padding: 0;
}

body {
	font-family: verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	width: 980px;
	margin: 0 auto;
}

header {
	background: green;
	color: #ffffff;
	height: 40px;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
}

footer {
	clear: left;
	background: #333;
	color: #fff;
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	font-size: 12px;
}

.title {
	text-align: center;
	font-size: 15px;
	background-color: #9bbb1a;
	color: #fff;
	padding: 5px 0;
}

a {
	text-decoration: none;
}

ul li, ul ol {
	list-style-type: none;
}

/*-- Left --*/

#left{
	float: left;
	width: 150px;
}

#left > ul.menu > li {
	position: relative;
}

#left > ul.menu > li > a {
	color: #fff;
	text-align: center;
	background-color: #c2d281;
	display: block;
	width: 100%;
	padding: 2px 0;
	border-bottom: 1px solid #ddd;
}

#left > ul.menu > li > a:hover {
	color: #333;
	background-color: #e2f1a7;
}
#left > ul.menu > li:hover ul.sub-menu-child {
	display: block;
}

ul.menu li ul.sub-menu-child {
	display: none;
	position: absolute;
	top: 0;
	left: 150px;
}

ul.sub-menu-child li a {
	color: #333;
	text-align: center;
	background-color: #fff;
	display: block;
	width: 150px;
	padding: 2px 0;
	border-bottom: 1px solid #ddd;
}

ul.sub-menu-child li a:hover {
	color: #333;
	background-color: #ddd;
}

/*-- end Left ==*/

/*-- Info --*/

#info {
	float: left;
	width: 658px;
	padding: 0 10px;
	border-left: 1px solid red;
	border-right: 1px solid red;
}

.new {
	float: left;
	text-align: justify;
	margin-bottom: 5px;
	margin-top: 5px;
}

.new a h2 {
	font-size: 14px;
	margin-bottom: 5px;
}

.new img {
	height: auto;
	width: 150px;
	border: 1px solid #ddd;
	padding: 5px 5px;
	margin: 0px 5px 0px 0px;
	float: left;
}

.bor {
	border: 1px solid #ddd;
}

.clear-left {
	clear: left;
}

/*-- end Right --*/

/*-- Right --*/

#right{
	float: left;
	width: 150px;
}

/*-- end Right --*/